{% load custom_filters %}
{% for news in news %}
<div class="col-md-4 news-item">
    <article class="post-item card border-0 shadow-sm p-3">
        <div class="image-holder zoom-effect">
            <a href="{% url 'news_detail' slug=news.slug %}">
                {% if news.image %}
                <img src="{{ news.image.url }}" alt="{{ news.title }}" class="card-img-top">
                {% endif %}
            </a>
        </div>
        <div class="card-body">
            <div class="post-meta d-flex text-uppercase gap-3 my-2 align-items-center">
                <div class="meta-categories">
                    <svg width="16" height="16"><use xlink:href="#category"></use></svg>{{ news.pub_date|time_ago }}
                </div>
                <div class="meta-date">
                    <svg width="16" height="16"><use xlink:href="#calendar"></use></svg>{{ news.pub_date|format_date }}
                </div>
            </div>
            <div class="post-header">
                <h3 class="post-title">
                    <a href="{% url 'news_detail' slug=news.slug %}" class="text-decoration-none">{{ news.title }}</a>
                </h3>
            </div>
        </div>
    </article>
</div>
{% endfor %}
